* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f2f;
}

.container {
  color: white;
  visibility: hidden;
}

.title {
  text-align: center;
  font-size: 30px;
}

.error {
  display: flex;
  flex-direction: row;
  /* visibility: hidden; */
  gap: 6px;
  width: 100px;
  height: 100px;
  font-size: 1.5em;
  position: relative;
}

.error > p {
  font-size: 1.5em;
  position: relative;
}

.navbar {
  padding-top: 50px;
}